<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

    <!-- Required Metatext-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstraps CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Tournament Generator</title>
    <link rel="shortcut icon" href="{% static 'images/Trophy.png' %}">
</head>
<body>

    {% include 'Navigation.html' %}


    {% block mainContent %}
        will be replaced
    {% endblock %}

    <hr>

    {% block mainContent2 %}
        will be replaced
    {% endblock %}

    <hr>
    {% block mainContent3 %}
        will be replaced
    {% endblock %}
    <hr>

    {% include 'Footer.html' %}

</body>
</html>
