{% extends 'Base/base_2_content.html' %}

<!-- Empty Form where new Team can be created -->
{% block mainContent %}

<h1>Create a new Team</h1>
    <br>
    <form action="{% url 'Team:Create' %}" method="POST">{% csrf_token %}
            <table>
            <tbody>
            <tr>
                <td width="200px">Name:</td>
                <td>{{form.TeamName}}</td>
            </tr>
            <tr>
                <td width="200px">Number of Player</td>
                <td>{{form.NrOfPlayer}}</td>
            </tr>
            <tr>
                <td width="200px">Captain:</td>
                <td>{{form.Captain}}</td>
            </tr>
            <tr>
                <td width="200px">Manager:</td>
                <td>{{form.Manager}}</td>
            </tr>
            <tr>
                <td width="200px">Tournament:</td>
                <td>{{form.Tournament}}</td>
            </tr>
            </tbody>
            </table>
        <input type="submit" name="Save" value="Submit">
    </form>
    <br>
{% endblock %}

{% block mainContent2 %}
{% endblock %}