{% extends 'Base/base_3_content.html' %}
{% load static %}


{% block mainContent %}
    <h1>All Teams</h1>
{% endblock %}

{% block mainContent2 %}
{% if team_list %}
    <ul>
    {% for team in team_list %}
    <li><a href="{% url 'Team:Details' team.id %}">{{ team.TeamName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Teams created yet.</p>
{% endif %}
{% endblock %}

{% block mainContent3 %}
    <a href="{% url 'Team:Create' %}" class="StandardBtn">Create a new Team</a>
{% endblock %}