{% extends 'Base/base_3_content.html' %}
{% load static %}

<!-- Shows Teamname as Title -->
{% block mainContent %}
    <h1>{{ team.TeamName }}</h1>
    Tournament: {{ team.Tournament }}
{% endblock %}

<!-- Shows all the Details of the specific Team -->
{% block mainContent2 %}
    Number of Player: {{ team.NrOfPlayer }}<br>
    Manager: {{ team.Manager }}<br>
    Captain: {{ team.Captain }}
{% endblock %}

<!-- Shows all the Games the specific Team has if Tournament is asigned -->
{% block mainContent3 %}
<h3>Possible Opponents</h3>
    {% for obj in opponents %}
        {{ obj.TeamName }}<br>
    {% endfor %}

{% endblock %}