{% extends 'Base/base_2_content.html' %}

{% block mainContent %}
    <h1>Create a new Team for {{tournament.TournamentName}}</h1>
    <h5>{% if tournament_complete %}
        All teams created.
    {% else %}
        {{remainingTeams}} Teams to create for {{tournament.TournamentName}}.
    {% endif %}</h5>
{% endblock %}

{% block mainContent2 %}
    <form action="{% url 'Tournament:CreateTeamForTournament' tournament.id %}" method="POST">{% csrf_token %}
        Name: {{form.TeamName}}<br>
        Number of Teams: {{form.NrOfPlayer}}<br>
        Captain: {{form.Captain}}<br>
        Manager: {{form.Manager}}<br>
        Tournament: {{form.Tournament}}<br><br>
        <input type="submit" name="Save" value="Submit">
    </form>
    <br>
{% endblock %}