{% extends 'Base/base_2_content.html' %}

{% block mainContent %}
    <h1>Create a new Tournament</h1>
    <br>
    <form action="{% url 'Tournament:Create' %}" method="POST">{% csrf_token %}
        <table>
            <tbody>
            <tr>
                <td width="200px">Name:</td>
                <td>{{form.TournamentName}}</td>
            </tr>
            <tr>
                <td width="100px">Number of Teams:</td>
                <td>{{form.TournamentSize}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" name="Save" value="Submit">
    </form>
    <br>
{% endblock %}

{% block mainContent2 %}
{% endblock %}