{% extends 'Base/base_2_content.html' %}

<!-- Header -->
{% block mainContent %}
    <h1>Create a new Team for {{tournament.TournamentName}}</h1>
<!-- IF all teams are created Text -->
    <h5>{% if tournament_complete %}
<!-- ELSE shows the number of Teams which have to be created for the Tournament -->
    {% else %}
        {{remainingteams}} Teams to create for {{tournament.TournamentName}}.
    {% endif %}</h5>
{% endblock %}


{% block mainContent2 %}
<!-- IF All Teams are created: Text is displayed-->
    {% if tournament_complete %}
    <h4>All teams created.</h4><br>
        <a href="{% url 'Tournament:Details' tournament.id %}" class="StandardBtn">Back to {{tournament.TournamentName}}</a>
<!-- ELSE shows a empty Form to create a new Team for the specific Tournament -->
    {% else %}
        <form action="{% url 'Tournament:CreateTeamForTournament' tournament.id %}" method="POST">{% csrf_token %}
            <table>
            <tbody>
            <tr>
                <td width="200px">Name:</td>
                <td>{{form.TeamName}}</td>
            </tr>
            <tr>
                <td width="200px">Number of Player</td>
                <td>{{form.NrOfPlayer}}</td>
            </tr>
            <tr>
                <td width="200px">Captain:</td>
                <td>{{form.Captain}}</td>
            </tr>
            <tr>
                <td width="200px">Manager:</td>
                <td>{{form.Manager}}</td>
            </tr>
            <tr>
                <td width="200px">Tournament:</td>
                <td>{{form.Tournament}}</td>
            </tr>
            </tbody>
            </table>
            <input type="submit" name="Save" value="Submit">
        </form>
        <br>
        <a href="{% url 'Tournament:Details' tournament.id %}" class="StandardBtn">Back to {{tournament.TournamentName}}</a>
    {% endif %}
    <br>
{% endblock %}