/*Buttons*/
.StandardBtn {
	box-shadow: 0px 10px 14px -7px #333;
	background-color:#333;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px;
}
.StandardBtn:hover {
	background-color:#FFAE00;
	color: #333;
	text-decoration:none;
}
.StandardBtn:active {
	position:relative;
	top:1px;
}


.StandardBtn AutoCreate {
	box-shadow: 0px 10px 14px -7px #333;
	background-color:red;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px;
}
.StandardBtn AutoCreate:hover {
	background-color:#FFAE00;
	color: red;
	text-decoration:none;
}
.StandardBtn AutoCreate:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------*/

/* Input */
input[type=submit] {
	box-shadow: 0px 10px 14px -7px #333;
	background-color:#333;
	border-radius:8px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px;
}
input[type=submit]:hover {
	background-color:#FF7F00;
	color: #333;
	text-decoration:none;
}
input[type=submit]:active {
	position:relative;
	top:1px;
}

input[type=text] {
    width: 300px;
    height: 47px;
	box-shadow: 0px;
	background-color:black;
	border-radius:8px;
	border: 1px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px;
	text-align: center;
	color: white;
}
input[type=text]:hover {
	background-color:white;
}
/*-------------------------------------------------*/


/* Dropdown Button */
.dropbtn {
    width: 300px;
    height: 47px;
    background-color:white;
    border:none;
    border-radius:8px;
	color:black;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.dropbtn:active {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  left: center;
  display: inline-block;
}

.dropdown:active{
border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  background-color: #f1f1f1;
  width: 300px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #333;
    color: white;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background: white;
}
/* ------------------------------------------------- */

/* Navigation Bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
	background-color:#FFAE00;
	color: #333;
	text-decoration:none;
}
.topnav a.active {
  background-color: #333;
  color: white;
}
.topnav a.image {
  background-color: #333;
  color: white;
}
/* ------------------------------------------------- */

/* Footer */

footer {
  left: 0px;
  bottom: 0px;
  padding-left:20px;
  padding-top:20px;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: left;
}
/* ------------------------------------------------- */

/* Home header */
.header {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 80%;
  background: rgb(51,48,0);
  background: linear-gradient(0deg, rgba(51,48,0,1) 0%, rgba(255,174,0,1) 100%);
}

.header h1 {
    color: black;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.header h3 {
    color: black;
    text-align: center;
}

.header label {
    color: white;
    font-size: 20px;
    position: relative;
}
/* ------------------------------------------------- */

