{% extends 'Base/base_home.html' %}
{% load static %}


 {% block mainContent %}
<!-- Background-color Orange/Black  -->
<!--About Text with html: General Information and E-mail Adresses -->
    <div class="header">
    <h1 style="text-align: left;">About</h1>

    <br>
    <p style="text-align: left;"><span style="color: #993300;"><em><strong>Who are we?</strong></em></span></p>
    <p style="text-align: left;">We are Alexander B&uuml;chel, Fabio Hilti and Lucy Gannon and we are the creator of the Tournament Generator, which we have created as our Information Systems Development Group Project.</p>
    <p style="text-align: left;">To be compete with one and each other is in the human nature &ndash; it is fun and challenging. All of us three in our group like to participate in different competitions, respectively tournaments in a sport club or just for fun with friends. With that thought in our mind, we developed the idea to create a &ldquo;Tournament Generator&rdquo;.</p>
    <p style="text-align: left;">For further questions about the project, please contact:</p>
    <ul style="text-align: left;">
    <li><a href="mailto:alexander.buechel@uni.li">alexander.buechel@uni.li</a></li>
    <li><a href="mailto:fabio.hilti@uni.li">fabio.hilti@uni.li</a></li>
    <li><a href="mailto:lucy.gannon@uni.li">lucy.gannon@uni.</a><a href="mailto:lucy.gannon@uni.li">li</a></li>
    </ul>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">&nbsp;</p>

    </div>
    {% endblock %}

