{% extends 'Base/base_home.html' %}
{% load static %}

    {% block mainContent %}
        <h1 style="text-align: center;">&nbsp;</h1>
        <h1 style="text-align: center;"><span style="color: #993300;"><strong>Tournament Generator</strong></span></h1>
        <h2 style="text-align: center;"><span style="color: #ff6600;"><em>Start your <span style="color: #993300;">own</span> Tournament now!</em></span></h2>
        <h4 style="text-align: center;">&nbsp;</h4>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/h9VjGg3/Step1-Getting-Started1.png" alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/vxx5wtg/Step2-Getting-Started.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/mJwDn5t/Step3-Getting-Started.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/4srcXky/Step4-Getting-Started.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <br>
        <p style="text-align: center;"><a class="StandardBtn" href="{% url 'Tournament:Overview' %}">LET'S START</a></p>
        <br>



    {% endblock %}













