{% extends 'Base/base_home.html' %}
{% load static %}


    {% block mainContent %}
<!--   Background Color Header: Orange-Black     -->
<!-- STEP 1 to STEP 4 PNG PICTURES IN HTML-->
        <div class="header">
        <br>
        <h1 style="text-align: center;"><span style="color: #800000;"><strong>Tournament Generator</strong></span></h1>
        <h2 style="text-align: center;"><span style="color: #ff6600;"><em><span style="color: #993300;"><span style="color: #ffcc00;">Start your</span> <span style="color: #800000;">own Tournament</span> <span style="color: #ffcc00;">now!</span></span></em></span></h2>
        <h4 style="text-align: center;">&nbsp;</h4>        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/fq5qBhR/Step1-Getting-Started-red.png" alt="Step1-Getting-Started-red" alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/b1jvj0X/Step2-Getting-Started-red.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/2yd30RZ/Step3-Getting-Started-red.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <p><div href=""><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/2tJLy7W/Step4-Getting-Started-red.png" " alt="Step1-Getting-Started1" border="0" /></div></p>
        <br>
        <p style="text-align: center;"><a class="StandardBtn" href="{% url 'Tournament:Overview' %}">LET'S START</a></p>
        <br>
        </div>



    {% endblock %}













