{% extends 'base_home.html' %}
{% load static %}

{% block mainContent %}

<div class="header">
    <h1>Tournament Generator</h1>
    <h3>One step closer to your individual tournament</h3><br>
    <form class="drop" action="." method="POST">{% csrf_token %}
        {{form.TournamentName}}<br><br>
        {{form.TournamentSize}}<br><br>
    <!--<input type="text" id="tname" name="tname" value="Enter your Tournament Name here" onclick="value=''" onsubmit="test"><br><br>
    <div class="dropdown">
    <button class="dropbtn">Tournamentsize</button>
        <div class="dropdown-content">
            <a href="#">8 Teams</a>
            <a href="#">16 Teams</a>
            <a href="#">32 Teams</a>
        </div>
    </div><br><br>-->
    <input type="submit" name="Save" value="Submit">
    </form>
    </div>
{% endblock %}

