{% extends 'Base/base_home.html' %}
{% load static %}

    {% block mainContent %}
    <div class="header">
    <br>
    <p style="text-align: center;"><strong><em>Tournament Generator</em></strong></p>
    <p style="text-align: center;"><em>December 2020, created by</em></p>
    <p style="text-align: center;"><em>Alexander B&uuml;chel</em></p>
    <p style="text-align: center;"><em>Fabio Hilti</em></p>
    <p style="text-align: center;"><em>Lucy Gannon</em></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong><em>A Information System Development Group Project</em></strong></p>
    <p style="text-align: center;"><em>Assessor: Dr. Frank Breitinger</em></p>
    <p style="text-align: center;"><em>Programme: Masters Information Systems</em></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong><em>University of Liechtenstein</em></strong></p>
    <p style="text-align: center;"><em>F&uuml;rst-Franz-Josef-Strasse Fabrikweg 3</em></p>
    <p style="text-align: center;"><em>9490 Vaduz</em></p>
    </div>

    {% endblock %}