{% extends 'Base/base_home.html' %}
{% load static %}

    {% block mainContent %}
<!-- Background-color Orange-Black   -->
<!-- Pictures linked, switches to a close up if clicked on picture: 8/16/32 Team blank samples-->
    <div class="header">
    <h1 style="text-align: left;">Samples</h1>
    <br>
    <p style="text-align: left;">Click on the desired Tournamenttree for a sample with blank fields</p>
    <h4 style="text-align: left;"><span style="color: #993300;">8 Teams</span></h4>
    <p style="text-align: left;"><a href="https://i.ibb.co/9rgNzVV/Tournament-Tree-Sample-8-Teams.png"><img src="https://i.ibb.co/fxF2Bnn/Tournament-Tree-Sample-8-Teams.png" alt="Tournament-Tree-Sample-8-Teams" border="0" /></a></p>
    <h4 style="text-align: left;"><span style="color: #993300;">16 Teams</span></h4>
    <p style="text-align: left;"><a href="https://i.ibb.co/9hC90Z7/Tournament-Tree-Sample-16-Teams-Kopie.png"><img src="https://i.ibb.co/w7xNqcf/Tournament-Tree-Sample-16-Teams-Kopie.png" alt="Tournament-Tree-Sample-16-Teams-Kopie" border="0" /></a></p>
    <h4 style="text-align: left;"><span style="color: #993300;">32 Teams</span></h4>
    <p><a href="https://i.ibb.co/vPH2m3c/Tournament-Tree-Sample-32-Teams-Kopie.png"><img style="float: left;" src="https://i.ibb.co/Z8VyKBf/Tournament-Tree-Sample-32-Teams-Kopie.png" alt="Tournament-Tree-Sample-32-Teams-Kopie" border="0" /></a></p>
    </div>
     {% endblock %}