{% extends 'base_2_content.html' %}

{% block mainContent %}
<h1>Tournament Tree</h1><br>
</div>
<div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Quarter</th>
      <th>Semi</th>
      <th>Final</th>
      <th>Champion</th>
        <th>Final</th>
        <th>Semi</th>
        <th>Quarter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamA.TeamName }}</a></td>
        <td rowspan="2" style="vertical-align: middle"><a href="#" class="btn btn-success">Semi C6</a></td>
        <td rowspan="4" style="vertical-align: middle"><a href="#" class="btn btn-info">Finals C1</a></td>
        <td rowspan="4" style="vertical-align: middle"><a href="#" class="btn btn-danger">Champion</a></td>
        <td rowspan="4" style="vertical-align: middle"><a href="#" class="btn btn-info">Finals C5</a></td>
        <td rowspan="2" style="vertical-align: middle"><a href="#" class="btn btn-success">Semi C5</a></td>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamE.TeamName }}</a></td>
    </tr>
    <tr>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamB.TeamName }}</a></td>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamF.TeamName }}</a></td>
    </tr>
    <tr>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamC.TeamName }}</a></td>
        <td rowspan="2" style="vertical-align: middle"><a href="#" class="btn btn-success">Semi C4</a></td>
        <td rowspan="2" style="vertical-align: middle"><a href="#" class="btn btn-success">Semi C7</a></td>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamG.TeamName }}</a></td>
    </tr>
    <tr>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamD.TeamName }}</a></td>
        <td style="vertical-align: middle"><a href="#" class="btn btn-primary">{{ TeamH.TeamName }}</a></td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}

{% block mainContent2 %}
<div class="dropdown">
  <button class="dropbtn">Number of Teams</button>
  <div class="dropdown-content">
    <a href="/8/">8 Teams</a>
    <a href="/16/">16 Teams</a>
    <a href="/32/">32 Teams</a>
    <a href="/64/">64 Teams</a>
  </div>
</div>
   <a href="/team/" class="StandardBtn">Back to all Teams</a>
{% endblock %}

